body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

h2{
    text-align: center;
    background-color:darkblue;
    color: aliceblue;
    padding: 10px;

}

.semana-button {
    display: flex;
    justify-content:center;
    gap:10px;
    
}

button {
 
    width: 100px;
    height: 40px;
    background-color: #32CD32;
    border-radius: 10px;
    border-style:hidden;
    color: rgb(61, 61, 61);
    font-size: 15px;

    
}

.mensagem{
    margin-top: 30px;
    font-size: 18px;
    color: #333;
    text-align: center;
    font-weight: bold;
}

button:hover{
    background-color: #66FF66;
    cursor: pointer;
    transition: background-color 0.3s
    

}